@charset "UTF-8";

@font-face {
  font-family: "FuturaNewBook";
  font-display: swap;
  src: url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaNewDemi";
  font-display: swap;
  src: url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FuturaNewExtraBold";
  font-display: swap;
  src: url("../fonts/FuturaNewExtraBold-Reg.woff") format("woff"), url("../fonts/FuturaNewExtraBold-Reg.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FuturaNewHeavy";
  font-display: swap;
  src: url("../fonts/FuturaNewHeavy-Reg.woff") format("woff"), url("../fonts/FuturaNewHeavy-Reg.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "FuturaNewBook", sans-serif;
  height: 100%;
  color: #382e3e;
  font-size: 16px;
  margin: 0;
}

body._lock {
  overflow: hidden;
}

body h1 {
  color: #7d391e;
}

body h1,
body h2,
body h3,
body h4 {
  position: relative;
  z-index: 5;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 25px;
  border-radius: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 39px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdb7ca), to(#ff386d));
  background: -o-linear-gradient(top, #fdb7ca 0%, #ff386d 100%);
  background: linear-gradient(180deg, #fdb7ca 0%, #ff386d 100%);
  position: relative;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: "FuturaNewDemi", sans-serif;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-shadow: 0 1px 5px #999;
          box-shadow: 0 1px 5px #999;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn._fw {
  width: 100%;
}

.requirements {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -weblit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
}

.input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  display: block;
  padding: 0 20px;
}

label {
  font-weight: 400;
  color: #898989;
}

input {
  border: 1px solid #e1e5eb;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  padding: 2px 0 2px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input:focus {
  -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
          box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
}

input:valid {
  border: 1px solid #3884ff;
}

input:invalid:not(:focus):not(:-moz-placeholder-shown) {
  border: 1px solid #ff2b00;
}

input:invalid:not(:focus):not(:-ms-input-placeholder) {
  border: 1px solid #ff2b00;
}

input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid #ff2b00;
}

input:invalid:not(:focus):not(:-moz-placeholder-shown) ~ .requirements {
  max-height: 20px;
}

input:invalid:not(:focus):not(:-ms-input-placeholder) ~ .requirements {
  max-height: 20px;
}

input:invalid:not(:focus):not(:placeholder-shown) ~ .requirements {
  max-height: 20px;
}

input:-webkit-autofill {
  background-color: #fff;
}

textarea.input {
  resize: none;
  padding: 0 0;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
  font-size: 24px;
  font-weight: 900;
}

.header {
  position: relative;
  background-color: #eceaef;
  padding: 20px 0 0 0;
  height: 190px;
}

.header::after {
  content: "";
  background: url("../img/line-sm.png") repeat-x top center;
  width: 100%;
  height: 58px;
  margin-top: -50px;
  position: absolute;
  bottom: 0;
  z-index: 300;
}

.header a {
  text-decoration: none;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger-lines {
  display: none;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.header__logo img {
  width: 120px;
  height: 100px;
}

.header__content_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px 0;
}

.header__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__phone {
  font-size: 34px;
  font-family: "FuturaNewExtraBold", sans-serif;
  margin: -5px 0 0 0;
  color: #382e3e;
  line-height: 44px;
}

.header__phone img {
  display: none;
}

.header__phone-mob {
  display: none;
}

.header__button {
  margin: 10px 0 0 0;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid #382e3e;
  color: #382e3e;
  -webkit-animation: shadow 2000ms infinite;
          animation: shadow 2000ms infinite;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 0 #382e3e62;
            box-shadow: 0 0 0 #382e3e62;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #382e3e62;
            box-shadow: 0 0 10px #382e3e62;
  }

  100% {
    -webkit-box-shadow: 0 0 0 #382e3e62;
            box-shadow: 0 0 0 #382e3e62;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 0 #382e3e62;
            box-shadow: 0 0 0 #382e3e62;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #382e3e62;
            box-shadow: 0 0 10px #382e3e62;
  }

  100% {
    -webkit-box-shadow: 0 0 0 #382e3e62;
            box-shadow: 0 0 0 #382e3e62;
  }
}

.icon-header {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header img {
  width: 100%;
  max-width: 31px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #3a69b5;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52%;
          flex: 0 0 52%;
}

.header-top__cart {
  width: 25px;
  height: 25px;
}

.header-top__cart span {
  top: -10px;
}

.header-top__comparison {
  width: 32px;
  height: 32px;
}

.header-top__comparison span {
  right: -7px;
}

.header-top__favorites {
  width: 27px;
  height: 27px;
  margin: 0 40px 0 0;
}

.header-top__favorites span {
  top: -8px;
}

.header-top__clock,
.header-top__gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__clock img,
.header-top__gift img {
  width: 25px;
  height: 30px;
  margin: 0 10px 0 0;
}

.header-menu__body {
  line-height: 44px;
}

.header-menu__body a {
  color: #6e3c25;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__link {
  position: relative;
}

.header-menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #6e3c25;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  margin: 30px 0 0 0;
  padding: 40px 0 20px 0;
  background-color: #eceaef;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 50px 0;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  max-width: 155px;
  max-height: 130px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.footer__social_insta,
.footer__social_vk,
.footer__social_youtube {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #eaddd3;
  border-radius: 50%;
  margin: 0 20px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__social_insta img,
.footer__social_vk img,
.footer__social_youtube img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

.footer__button {
  margin: 20px 0 0 0;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid #382e3e;
  color: #382e3e;
  width: 140px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__privacy-policy {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 14px;
}

.footer__privacy-policy a {
  color: #382e3e;
}

.footer-catalog__title,
.footer-menu__title {
  font-size: 20px;
  font-family: "FuturaNewExtraHeavy", sans-serif;
  color: #6e3c25;
}

.footer-catalog__list li,
.footer-menu__list li {
  padding: 0 0 5px 0;
}

.footer-catalog__link,
.footer-menu__link {
  position: relative;
  text-decoration: none;
  color: #6e3c25;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-catalog__link::before,
.footer-menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #3a69b5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-email,
.main-phone {
  text-decoration: none;
}

.header-menu__link {
  font-size: 18px;
}

.page__banners {
  margin: 70px 0;
}

.page__video {
  position: relative;
  background-size: cover;
  background-image: url("../img/advant/bg_advant.png");
  padding: 30px 0 90px 0;
  margin: 0 0 50px 0;
}

.page__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0e9e4;
  opacity: 0.3;
  z-index: 0;
}

.page__catalog {
  margin: 70px 0;
}

.page__info-fill {
  margin: 70px 0;
  background-color: #f0e9e4;
  padding: 40px 0;
}

.page__card-product {
  margin: 70px 0;
}

.page__advant {
  position: relative;
  padding: 30px 0 70px 0;
  background-size: cover;
  background-image: url("../img/advant/bg_advant.png");
  margin: 70px 0;
}

.page__advant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0e9e4;
  opacity: 0.3;
  z-index: 0;
}

.page__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0;
}

.page__team,
.page__contacts {
  margin: 70px 0;
  padding: 30px 0 70px 0;
  background-color: #eceaef;
}

.page__reviews {
  margin: 70px 0;
}

.page__link {
  margin: 70px 0;
}

.page-nav__catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #f0e9e4;
  border: 1px solid #eaddd3;
  -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.1);
          box-shadow: 0 5px 18px rgba(103, 122, 141, 0.1);
  border-radius: 5px;
  height: 56px;
}

.page-nav__catalog-list li {
  margin: 0 20px;
}

.page-nav__catalog-list li:last-child {
  display: none;
}

.page-nav__catalog-title {
  display: none;
}

.page-nav__catalog-link {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #6e3c25;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-nav__catalog-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #3a69b5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-banners__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.page-banners__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: 5px;
}

.page-banners__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 310px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-banners__item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eceaef;
  border-radius: 5px;
  z-index: 0;
}

.page-banners__item h2,
.page-banners__item h3 {
  margin: 0;
}

.page-banners__item h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: "FuturaNewExtraBold", sans-serif;
  color: #382e3e;
}

.page-banners__item_two::before,
.page-banners__item_four::before {
  z-index: 1;
  opacity: 0.5;
}

.banner-one__img,
.banner-three__img {
  left: -120px;
}

.banner-one__content,
.banner-three__content {
  padding: 20px;
}

.banner-one__title,
.banner-three__title {
  padding: 15px 0;
}

.banner-one__subtitle,
.banner-three__subtitle {
  font-size: 28px;
  font-family: "FuturaNewHeavy", sans-serif;
  color: #6e3c25;
  padding: 0 0 0 20px;
}

.banner-one__button,
.banner-three__button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 45px;
  padding: 0 60px;
  text-transform: uppercase;
  font-family: "FuturaNewExtraBold", sans-serif;
}

.banner-two__content,
.banner-four__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.banner-two__title,
.banner-four__title {
  text-align: center;
  line-height: 75px;
}

.banner-two__title span,
.banner-four__title span {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 5px #003a71;
}

.banner-two__button,
.banner-four__button {
  position: absolute;
  bottom: 20px;
  height: 45px;
  padding: 0 60px;
  font-family: "FuturaNewExtraBold", sans-serif;
  text-transform: uppercase;
  background: #406a92;
  z-index: 5;
}

.page-video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-video__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  min-height: 440px;
}

.page-video__text {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  font-size: 18px;
  z-index: 2;
}

.page-video__text p {
  margin: 15px 0 35px 0;
}

.page-video__text span {
  color: #6e3c25;
  font-family: "FuturaNewDemi", sans-serif;
}

.page-title {
  font-size: 36px;
  color: #7d391e;
  text-align: center;
  text-transform: uppercase;
  font-family: "FuturaNewHeavy", sans-serif;
  margin: 0;
  padding: 20px 0 40px 0;
}

.hidden {
  display: none !important;
}

.video-youtube {
  position: relative;
  padding-bottom: 40.25%;
  height: 0;
}

.video-youtube.video-youtube_overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  display: block;
  z-index: 5;
}

.video-youtube.video-youtube_overlay:after {
  content: "";
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/logo.png");
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
}

.video-youtube .video-youtube__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  border-radius: 20px;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn {
  width: 10000%;
  height: 14000%;
  -webkit-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  border-radius: 20px;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::-moz-selection {
  background-color: transparent;
}

.video-youtube .video-youtube__content.video-youtube__content_hide-origin-play-btn::selection {
  background-color: transparent;
}

.video-youtube .video-youtube__new-play-btn .fake-bg img {
  position: absolute;
  top: 32px;
  right: 30px;
  opacity: 1;
}

.video-youtube .video-youtube__new-play-btn .fake-bg {
  position: relative;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #002765;
  opacity: 0.6;
  z-index: -1;
}

.video-youtube .video-youtube__new-play-btn {
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  border: none;
  background: none;
  display: block;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.video-youtube .video-youtube__new-play-btn img,
.video-youtube .video-youtube__new-play-btn span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.video-youtube .video-youtube__new-play-btn span {
  position: relative;
  top: -15px;
  color: #fff;
  font-size: 25px;
  margin: 0 15px 0 0;
}

.page-catalog__title {
  padding: 0px 0 60px 0;
}

.page-catalog__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.page-catalog__item {
  cursor: pointer;
  position: relative;
  background-color: #eceaef;
  min-height: 325px;
  padding: 20px;
}

.page-catalog__item:first-child {
  grid-column: span 3;
}

.page-catalog__item:first-child .page-catalog__img {
  width: 55%;
}

.page-catalog__item:nth-child(2) {
  grid-column: span 3;
}

.page-catalog__item:nth-child(3),
.page-catalog__item:nth-child(4),
.page-catalog__item:nth-child(5) {
  grid-column: span 2;
}

.page-catalog__item:nth-child(3) .page-catalog__img,
.page-catalog__item:nth-child(4) .page-catalog__img,
.page-catalog__item:nth-child(5) .page-catalog__img {
  right: 50px;
  width: 70%;
}

.page-catalog__item._active:first-child .page-catalog__img {
  width: 50%;
}

.page-catalog__item._active:nth-child(3),
.page-catalog__item._active:nth-child(4),
.page-catalog__item._active:nth-child(5) {
  grid-column: span 2;
}

.page-catalog__item._active:nth-child(3) .page-catalog__img,
.page-catalog__item._active:nth-child(4) .page-catalog__img,
.page-catalog__item._active:nth-child(5) .page-catalog__img {
  right: -25px;
  width: 60%;
}

.page-catalog__item._active .page-catalog__img {
  right: 10px;
  width: 55%;
}

.page-catalog__item._active .page-catalog__list {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.page-catalog__item._active .page-catalog__subtitle::before {
  opacity: 1;
  visibility: visible;
}

.page-catalog__subtitle {
  position: relative;
  font-size: 24px;
  margin: 0;
}

.page-catalog__subtitle::before {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 15%;
  height: 3px;
  background: #382e3e;
  opacity: 0;
  visibility: hidden;
}

.page-catalog__list {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transform: translate(0, -20px);
      -ms-transform: translate(0, -20px);
          transform: translate(0, -20px);
  padding: 20px 0;
  line-height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-catalog__link {
  position: relative;
  text-decoration: none;
  color: #382e3e;
  font-size: 18px;
}

.page-catalog__link::before {
  content: "";
  opacity: 0;
  visibility: visible;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #3a69b5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-catalog__img {
  position: absolute;
  bottom: 0;
  right: 130px;
  width: 60%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-info-fill__title {
  padding: 25px 0 55px 0;
}

.page-info-fill__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.page-info-fill__item {
  text-decoration: none;
}

.page-info-fill__img {
  position: relative;
  width: 220px;
  height: 320px;
}

.page-info-fill__img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 15px rgba(103, 122, 141, 0.45);
          box-shadow: 0 5px 15px rgba(103, 122, 141, 0.45);
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-info-fill__img::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.page-info-fill__subtitle {
  font-size: 22px;
  color: #7d391e;
  font-family: "FuturaNewDemi", sans-serif;
  text-align: end;
  margin: 0;
  padding: 40px 0 20px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-info-fill__button {
  margin: 30px 0;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid #382e3e;
  color: #382e3e;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page-card__title {
  padding: 0 0 40px 0;
}

.page-card__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 20px;
}

.card-product {
  text-decoration: none;
}

.card-product__title {
  font-size: 20px;
  font-family: "FuturaNewHeavy";
  color: #000;
  min-height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-product__img img {
  width: 100%;
  border-radius: 15px;
}

.card-product__subtitle {
  font-size: 18px;
  font-family: "FuturaNewHeavy";
  color: #382e3e;
  margin: 0;
}

.card-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-info__price span {
  font-size: 18px;
  color: #382e3e;
  margin: 0 20px 0 0;
}

.card-info__price b {
  font-size: 24px;
  line-height: 26px;
  color: #3a69b5;
  font-family: "FuturaNewExtraBold";
}

.card-info__favorites .favorite img,
.card-info__favorites .comparison img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-info__wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.card-info__button-left,
.card-info__button-right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 0 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card-info__button-right {
  background: #fff;
  border: 1px solid #ff386d;
  color: #ff386d;
}

.page-advant__title {
  padding: 35px 0 55px 0;
}

.page-advant__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 5;
  margin: 0 0 80px 0;
}

.page-advant__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
}

.page-advant__item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80%;
  height: 100%;
  background-color: rgba(252, 94, 173, 0.123);
  border-radius: 15px;
  z-index: -1;
}

.page-advant__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-advant__img {
  margin: 0 20px 0 -85px;
  max-width: 185px;
  max-height: 185px;
}

.page-advant__text {
  font-size: 22px;
}

.page-advant__button {
  height: 55px;
  padding: 0 50px;
}

.page-callback__container {
  background-color: #f0e9e4;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
          box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 425px;
}

.page-callback__title {
  padding: 20px 0 15px 0;
}

.page-callback__subtitle {
  text-align: center;
  font-size: 26px;
  margin: 0;
}

.page-callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.page-callback__form input {
  width: 40%;
  height: 50px;
  border-radius: 35px;
  opacity: 0.6;
  margin: 15px 0;
}

.page-callback__form ::-webkit-input-placeholder {
  color: #6e3c25;
}

.page-callback__form ::-moz-placeholder {
  color: #6e3c25;
}

.page-callback__form :-ms-input-placeholder {
  color: #6e3c25;
}

.page-callback__form ::-ms-input-placeholder {
  color: #6e3c25;
}

.page-callback__form ::placeholder {
  color: #6e3c25;
}

.page-callback__button {
  margin: 0 0 20px 0;
  height: 50px;
  padding: 0 80px;
  text-transform: uppercase;
}

.page-team__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 20px;
}

.page-team__img {
  height: 350px;
}

.page-team__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.page-team__info {
  text-align: center;
  padding: 15px 0;
}

.page-team__info_position {
  color: #6e3c25;
  font-size: 18px;
}

.page-team__info_name {
  font-size: 22px;
  font-family: "FuturaNewHeavy", sans-serif;
  margin: 10px 0;
}

.page-team__info_experience {
  font-family: "FuturaNewHeavy", sans-serif;
  font-size: 18px;
  color: #d3b2a3;
}

.page-team__info_more {
  margin: 10px 0;
  font-size: 18px;
}

.page-reviews__title {
  padding: 0 0 60px 0;
}

.page-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.page-reviews__img {
  position: relative;
  margin: 0 50px 0 0;
}

.page-reviews__img img {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 0 0 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.page-reviews__img::before {
  content: "";
  position: absolute;
  top: -25px;
  width: 205px;
  height: 205px;
  background-color: #eaddd3;
  border-radius: 64% 36% 18% 82% / 51% 80% 20% 49%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 0;
}

.page-reviews__img h3,
.page-reviews__img span {
  display: none;
}

.page-reviews__text_name {
  font-size: 26px;
  font-family: "FuturaNewHeavy", sans-serif;
  margin: 10px 0;
}

.page-reviews__text_date {
  color: #989898;
  font-size: 15px;
}

.page-reviews__text_comment {
  font-size: 18px;
  text-align: justify;
}

.page-reviews__read-more {
  text-decoration: none;
  color: #6e3c25;
  font-family: "FuturaNewHeavy", sans-serif;
  font-size: 18px;
  padding: 30px 0 0 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.37);
          box-shadow: 0 5px 18px rgba(103, 122, 141, 0.37);
  border-radius: 15px;
}

.contacts-map__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.contacts-map__left_logo {
  width: 80px;
  height: 72px;
  margin: 0 0 15px 0;
}

.contacts-map__left_shedule {
  margin: 0 0 15px 0;
}

.contacts-map__left_email,
.contacts-map__left_phone {
  text-decoration: none;
  color: #382e3e;
  margin: 10px 0;
}

.contacts-map__left_button {
  margin: 10px 0 0 0;
}

.contacts-map__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68%;
          flex: 0 0 68%;
}

.main-phone,
.main-email {
  color: #6e3c25;
  font-size: 20px;
  font-family: "FuturaNewExtraBold", sans-serif;
  margin: 0 0 20px 0;
}

.google-map {
  border-radius: 0 15px 15px 0;
}

.page-link__title {
  color: #6e3c25;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "FuturaNewExtraBold", sans-serif;
}

.page-link__list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.page-link__link {
  text-decoration: none;
  color: #6e3c25;
  text-align: center;
  background-color: #eaddd3;
  border: 1px dashed transparent;
  padding: 4px 7px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
  input:hover {
    -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
            box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
  }
}

@media (min-width: 992px) {
  .btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .btn:focus {
    outline: none;
  }

  .header__button:hover {
    -webkit-box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
            box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
    background: #382e3e;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    color: #fff;
  }

  .icon-header:hover img {
    opacity: 0.7;
  }

  .icon-header:hover span {
    background-color: #ccc;
  }

  .header-menu__link:hover::before {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }

  .footer__social_insta:hover,
  .footer__social_vk:hover,
  .footer__social_youtube:hover {
    background-color: #6e3c25;
  }

  .footer__button:hover {
    -webkit-box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
            box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
    background: #382e3e;
    color: #fff;
  }

  .footer-catalog__link:hover,
  .footer-menu__link:hover {
    color: #3a69b5;
  }

  .footer-catalog__link:hover::before,
  .footer-menu__link:hover::before {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }

  .page-nav__catalog-link:hover {
    color: #3a69b5;
  }

  .page-nav__catalog-link:hover::before {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }

  .page-banners__item:hover {
    -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
            box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
  }

  .banner-two__button:hover,
  .banner-four__button:hover {
    background: #fff;
    -webkit-box-shadow: 0 0 5px #003a71;
            box-shadow: 0 0 5px #003a71;
    color: #406a92;
  }

  .page-catalog__link:hover {
    color: #3a69b5;
  }

  .page-catalog__link:hover::before {
    opacity: 1;
    visibility: visible;
  }

  .page-info-fill__item:hover .page-info-fill__img img {
    -webkit-transform: translate(10px, 10px);
        -ms-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    -webkit-box-shadow: 0 5px 10px rgba(103, 122, 141, 0.45);
            box-shadow: 0 5px 10px rgba(103, 122, 141, 0.45);
  }

  .page-info-fill__item:hover .page-info-fill__subtitle {
    color: #3a69b5;
  }

  .page-info-fill__button:hover {
    -webkit-box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
            box-shadow: 0 3px 8px rgba(153, 153, 153, 0.445);
    background: #382e3e;
    color: #fff;
  }

  .card-product:hover .card-product__title {
    color: #3a69b5;
  }

  .card-info__favorites .favorite:hover img,
  .card-info__favorites .comparison:hover img {
    opacity: 0.9;
  }

  .card-info__button-left:hover,
  .card-info__button-right:hover {
    -webkit-box-shadow: 0 1px 5px #999;
            box-shadow: 0 1px 5px #999;
  }

  .card-info__button-right:hover {
    border: 1px solid transparent;
    background: #ff386d;
    color: #fff;
  }

  .page-reviews__read-more:hover {
    color: #3a69b5;
  }

  .page-link__link:hover {
    color: #3a69b5;
    background-color: #fff;
    border: 1px dashed #eaddd3;
  }
}

@media (max-width: 1212px) {
  ._container {
    max-width: 970px;
  }

  .header__callback {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  .header__phone {
    font-size: 30px;
  }

  .header-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
  }

  .header-top__favorites {
    margin: 0 15px 0 0;
  }

  .page-link__list {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .header {
    height: 160px;
    padding: 10px 0 0 0;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__burger-lines {
    display: block;
    position: absolute;
    top: 35%;
    left: 10px;
    width: 35px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }

  .header__burger-lines span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #3a69b5;
  }

  .header__burger-lines span:first-child {
    top: 0px;
  }

  .header__burger-lines span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header__burger-lines._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger-lines._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header__burger-lines._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .header__logo img {
    width: 110px;
    height: 90px;
  }

  .header__content_top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__callback {
    display: none;
  }

  .header__phone-mob {
    display: block;
  }

  .header__phone-mob img {
    width: 30px;
    height: 30px;
  }

  .header__button {
    display: none;
  }

  .wrapper-burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .header-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .header-top__clock,
  .header-top__gift {
    display: none;
  }

  .header-menu__body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 320;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__body._active {
    opacity: 1;
    visibility: visible;
    height: 100%;
    top: 130px;
  }

  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
            box-shadow: 0 5px 18px rgba(103, 122, 141, 0.17);
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .page__banners {
    margin: 0 0 70px 0;
  }

  .page-nav__catalog-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    border: none;
    border-bottom: 1px solid #3a69b5;
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 0 20px 0;
  }

  .page-nav__catalog-list li {
    margin: 0;
  }

  .page-nav__catalog-list li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .page-nav__catalog-title {
    display: block;
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "FuturaNewHeavy", sans-serif;
    background-color: #6495ed;
    padding: 20px;
    -webkit-box-shadow: inset 0 1px 6px rgba(80, 80, 80, 0.3);
            box-shadow: inset 0 1px 6px rgba(80, 80, 80, 0.3);
    color: #fff;
    font-size: 18px;
    line-height: 18px;
  }

  .page-nav__catalog-button {
    background: transparent;
    border: 1px solid #ff386d;
    color: #ff386d !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 45px;
    padding: 0 50px;
    margin: 20px 0 20px 20px !important;
  }

  .page-banners__container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .page-banners__item {
    width: 78%;
  }

  .page-video__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-video__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .page-catalog__item:first-child {
    grid-column: span 6;
  }

  .page-catalog__item:first-child .page-catalog__img {
    width: 50%;
  }

  .page-catalog__item:nth-child(3),
  .page-catalog__item:nth-child(4),
  .page-catalog__item:nth-child(5) {
    grid-column: span 3;
  }

  .page-catalog__item:nth-child(3) .page-catalog__img,
  .page-catalog__item:nth-child(4) .page-catalog__img,
  .page-catalog__item:nth-child(5) .page-catalog__img {
    right: -25px;
    width: 60%;
  }

  .page-catalog__item .page-catalog__img {
    right: 10px;
    width: 55%;
  }

  .page-catalog__item .page-catalog__list {
    opacity: 1;
    visibility: visible;
    height: 100%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .page-catalog__item .page-catalog__subtitle::before {
    opacity: 1;
    visibility: visible;
  }

  .page-info-fill__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .page-info-fill__img {
    width: 255px;
  }

  .page-info-fill__subtitle {
    text-align: center;
  }

  .page-card__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .page-advant__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-advant__item:first-child {
    border-radius: 15px 15px 0 0;
    padding: 20px 20px 0 20px;
  }

  .page-advant__item:last-child {
    border-radius: 0 0 15px 15px;
    padding: 0 20px 20px 20px;
  }

  .page-advant__item:last-child::before {
    left: 10%;
  }

  .page-advant__img {
    margin: 0 20px 0 -55px;
  }

  .page-team__content {
    grid-column-gap: 10px;
  }

  .contacts-map__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }

  .page-link__list {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
  }
}

@media (max-width: 991.98px) and (max-width: 991.98px) {
  .header-menu__body a {
    color: #3a69b5;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 815px) {
  .page-advant__img {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .page-video__text {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-video__text p {
    margin: 15px 0 0px 0;
  }

  .page-title {
    font-size: 30px;
  }

  .page-catalog__item:nth-child(1),
  .page-catalog__item:nth-child(2),
  .page-catalog__item:nth-child(3),
  .page-catalog__item:nth-child(4),
  .page-catalog__item:nth-child(5) {
    grid-column: span 6;
  }

  .page-catalog__item:nth-child(1) .page-catalog__img,
  .page-catalog__item:nth-child(2) .page-catalog__img,
  .page-catalog__item:nth-child(3) .page-catalog__img,
  .page-catalog__item:nth-child(4) .page-catalog__img,
  .page-catalog__item:nth-child(5) .page-catalog__img {
    right: 10px;
    width: 45%;
  }

  .page-callback__container {
    width: 95%;
  }

  .page-callback__form input {
    width: 75%;
  }

  .page-team__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .page-team__img {
    height: 450px;
  }

  .page-reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-reviews__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 20px 0;
  }

  .page-reviews__img h3,
  .page-reviews__img span {
    display: block;
  }

  .page-reviews__text_name,
  .page-reviews__text_date {
    display: none;
  }

  .wrapper-text-reviews-mob {
    margin: 0 0 0 40px;
  }

  .page-contacts__map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .google-map {
    border-radius: 0 0 15px 15px;
    height: 250px;
    margin: 0 0 -4px;
  }

  .page-link__list {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__item:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0 0 0;
  }

  .footer__item:nth-child(2),
  .footer__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (max-width: 655px) {
  .wrapper-burger {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29%;
            flex: 0 0 29%;
  }

  .header-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29%;
            flex: 0 0 29%;
  }

  .page-banners__item {
    width: 90%;
  }
}

@media (max-width: 630px) {
  .page-video__video {
    min-height: 340px;
  }

  .page-info-fill__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-info-fill__subtitle {
    margin: 0;
  }
}

@media (max-width: 625px) {
  .page-link__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 595px) {
  .page-team__content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .page-team__item {
    width: 60%;
  }

  .page-team__img {
    height: 350px;
  }
}

@media (max-width: 590px) {
  .video-youtube .video-youtube__new-play-btn .fake-bg img {
    top: 24px;
    right: 20px;
  }

  .video-youtube .video-youtube__new-play-btn .fake-bg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 581px) {
  .page-card__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 580px) {
  .footer__item:nth-child(1),
  .footer__item:nth-child(2),
  .footer__item:nth-child(3),
  .footer__item:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .page-banners__item {
    width: 100%;
  }

  .page-banners__item h2 {
    font-size: 22px;
  }

  .page-banners__item_one img,
  .page-banners__item_three img {
    width: 50%;
    left: 0;
  }

  .banner-one__title,
  .banner-three__title {
    font-size: 22px;
  }

  .banner-one__subtitle,
  .banner-three__subtitle {
    font-size: 22px;
  }

  .banner-one__button,
  .banner-three__button {
    height: 35px;
    padding: 0 30px;
  }

  .banner-two__button,
  .banner-four__button {
    height: 35px;
    padding: 0 30px;
  }
}

@media (max-width: 540px) {
  .header__content_top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__phone-mob {
    text-align: end;
  }

  .header-top__cart,
  .header-top__comparison,
  .header-top__favorites {
    margin: 0 !important;
  }

  .page-advant__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 501px) {
  .page-link__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .page-link__link {
    font-size: 14px;
  }
}

@media (max-width: 490px) {
  .page-video__video {
    min-height: 260px;
  }
}

@media (max-width: 479.98px) {
  .page-title {
    font-size: 26px;
  }

  .page-info-fill__subtitle {
    font-size: 19px;
  }

  .card-product__title {
    font-size: 19px;
  }

  .page-advant__text {
    font-size: 19px;
  }

  .page-callback__subtitle {
    font-size: 19px;
  }

  .page-callback__form input {
    width: 100%;
  }

  .page-callback__button {
    font-size: 19px;
  }

  .page-reviews__img {
    margin: 0;
  }

  .page-reviews__text_name {
    font-size: 22px;
  }

  .page-reviews__text_comment {
    font-size: 16px;
    margin: 0;
  }

  .contacts-map__left_info,
  .contacts-map__left_shedule {
    text-align: center;
  }

  .page-link__title {
    font-size: 20px;
  }

  .footer-catalog__title {
    font-size: 19px;
  }
}

@media (max-width: 445px) {
  .page-reviews__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page-reviews__img img {
    margin: 0;
  }

  .page-reviews__img span {
    text-align: center;
  }

  .wrapper-text-reviews-mob {
    margin: 15px 0;
  }
}

@media (max-width: 425px) {
  .page__banners {
    display: none;
  }

  .page__video {
    background-image: none !important;
    padding: 0;
  }

  .page__video::before {
    background-color: #fff;
  }

  .page-video__video {
    min-height: 220px;
  }

  .video-youtube.video-youtube_overlay:after {
    border: 1px solid #f0e9e4;
  }

  .page-team__item {
    width: 75%;
  }
}

@media (max-width: 375px) {
  .page-video__video {
    min-height: 200px;
  }

  .main-email,
  .main-phone {
    font-size: 19px;
  }
}

@media (max-width: 345px) {
  .page-link__list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
  }
}

.webp .header::after{ background: url(../img/line-sm.webp) repeat-x top center; }

.webp .page__video{ background-image: url(../img/advant/bg_advant.webp); }

.webp .page__advant{ background-image: url(../img/advant/bg_advant.webp); }

.webp .video-youtube.video-youtube_overlay:after{ background-image: url(../img/logo.webp); }